* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #EC6302;
    --light_grey: #E7E3DF;
    --darker_grey: #BFBAB5;
    --dark_grey: #48474C;
}

div#intro {
    font-family: 'montserrat', sans-serif;
    background-color: var(--orange);
    padding: 10px;
    color: white;
}

div#intro h1 {
    text-align: center;
    margin-top: 0;
}

div#intro p {
    margin-bottom: 0;
}

div#blokjes {
    width: 100%;
    height: 300px;
    position: relative;
}

div#blokjes i {
    color: white;
    font-size: 50px;
    height: 49%;
    width: 49.4%;
    background-color: var(--darker_grey);
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    padding: 50px;
    margin-bottom: 4px;
}

div#blokjes i:hover {
    color: var(--darker_grey);
    background-color: var(--dark_grey);
    transition-duration: 2s;
}

div#blokjes a {
    text-decoration: none;
}

div#mobile_navigation {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

div.navigation_icon {
    width: calc(100% / 3);
    display: block;
    float: left;
    height: 60px;
    background-color: #202020;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 8px;
}

div.hamburger_navigation {
    border-right: #818181 1px solid;
}

div.home_navigation {
    border-right: #818181 1px solid;
}
