* {
    box-sizing: border-box;
}

:root {
    --orange: #EC6302;
    --light_grey: #E7E3DF;
    --darker_grey: #BFBAB5;
    --dark_grey: #48474C;
}

body {
    margin: 0;
}

#more, #more2, #more3 {
    display: none;
}

div#gegevens {
    background-color: var(--orange);
    line-height: 1.6;
    color: white;
    font-family: 'montserrat', sans-serif;
    padding: 15px;
}

div#gegevens h1 {
    margin: 0;
}

div#gegevens h4 {
    margin: 0;
    font-weight: 700;
}

div#gegevens button, div#eindproducten button {
    border: none;
    padding: 10px;
    font-family: 'montserrat', sans-serif;
    background-color: var(--darker_grey);
}

div#eindproducten button {
    background-color: var(--orange);
    color:white;
}

div#gegevens button:hover, div#eindproducten button:hover {
    border: #202020 1px solid;
    background-color: #818181;
    color: white;
    transition: 1s;
}

div#werkzaamheden {
    color: white;
    background-color: var(--darker_grey);
    font-family: 'montserrat', sans-serif;
    padding: 15px;
    line-height: 1.6;
}

div#voorbereiding {
    background-color: var(--orange);
    color: white;
    line-height: 1.6;
    padding: 15px;
    font-family: 'montserrat', sans-serif;
}

div#voorbereiding h1 {
    margin-top: 0;
}

div#eindproducten {
    background-color: var(--darker_grey);
    padding: 15px;
    color: white;
    font-family: 'montserrat', sans-serif;
    line-height: 1.6;
}

div#eindproducten h1 {
    margin-top: 0;
}

div#eindproducten img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}