div#mobile_navigation {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

div.navigation_icon {
    width: calc(100% / 3);
    display: block;
    float: left;
    height: 60px;
    background-color: #202020;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 8px;
}

div.hamburger_navigation {
    border-right: #818181 1px solid;
}

div.home_navigation {
    border-right: #818181 1px solid;
}