:root {
    --orange: #EC6302;
    --light_grey: #E7E3DF;
    --darker_grey: #BFBAB5;
    --dark_grey: #48474C;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

div.intro {
    background-color: var(--orange);
    color: white;
    font-family: 'montserrat', sans-serif;
    padding: 10px;
    line-height: 1.6;
}

div.intro h1 {
    margin-top: 0;
}

div#div_een, div#div_twee {
    background-color: var(--darker_grey);
    color: white;
    padding: 10px;
    font-family: 'montserrat', sans-serif;
    line-height: 1.6;
}

div#div_een h1, div#div_twee h1 {
    margin-top: 0;
}

div#div_twee p {
    padding: 5px;
}

div#div_een button, div#div_twee button {
    border: none;
    background-color: var(--orange);
    color: white;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
}

div#div_een button:hover , div#div_twee button:hover {
    background-color: #9f5002;
    color: #cdcdcd;
}

label.naar_boven {
    float: right;
    margin-right: 15px;
}

label.naar_boven:hover {
    color: var(--light_grey);
}

div#rol {
    background-color: var(--orange);
    color: white;
    padding: 15px;
    font-family: 'montserrat', sans-serif;
    line-height: 1.6;
    margin-bottom: 60px;
}